<% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
<% end %>
<%= f.input :name %>
<%= f.input :part_number %>
<%= f.input :manufacturer %>
<%= f.input :description %>
<%= f.input :list_price %>
<%= f.input :is_recurring, as: :boolean, :label => "Recurring" %>
<%= f.input :recurring_unit %>
<%= f.input :is_subscription, as: :boolean, :label => "Subscription" %>
<%= f.input :subscription_length %>
<%= f.input :subscription_length_unit %>
<%= f.input :is_taxable, :as => :boolean, :label => "Taxable" %>
