<div class="section-heading">
	<h3>Catalog Item Details</h3>
</div>
<div class="row-fluid">
<div class="span6">
	<%= f.input :name, :label => "Name", :input_html => {:size => 30} %>
	<%= f.input :list_price, :wrapper => :prepend do %>
		<%= content_tag :span, "$", :class => "add-on" %>
		<%= f.input_field :list_price, :class => "span4" %>
		<%= f.input_field :recurring_unit, :collection => [['per hour', 'HOUR', {'data-key' => 'recurring_unit'}], ['per day', 'DAY', {'data-key' => 'recurring_unit'}], ['per week', 'WEEK', {'data-key' => 'recurring_unit'}], ['per month', 'MONTH', {'data-key' => 'recurring_unit'}], ['per quarter', 'QUARTER', {'data-key' => 'recurring_unit'}], ['per year', 'YEAR', {'data-key' => 'recurring_unit'}]], :class => "input-medium", :label => false %>
	<% end %>
	<br>
	<%= f.input :description, :label => "Description", :input_html => {:rows => 4} %>
</div>
<div class="span1"></div>
<div class="span5">
	<%= f.input :part_number, :label => "Part Number", :class => "span4" %>
	<%= f.input :manufacturer, :label => "Manufacturer", :input_html => {:size => 30, :autocomplete => "off"} %>
	<div class="control-group">
		<div class="span8">
			<label>&nbsp;</label>
			<div class="controls catalog_item_is_taxable">
				<%= check_box_tag 'catalog_item[is_taxable]', true, @catalog_item.is_taxable %>
				&nbsp;is taxable?
			</div>
		</div>
	</div>
	<div class="control-group">
		<div class="span8">
			<label>&nbsp;</label>
			<div class="controls catalog_item_is_package">
				<%= check_box_tag 'catalog_item[is_package]', true, @catalog_item.is_package %>
				&nbsp;is package? (includes other catalog items)
			</div>
		</div>
	</div>
</div>
</div>