<% provide(:title, "New Catalog Item") %>
<% @nav_caret = "catalog" %>
<div class="body">
	<div class="body-right pull-right">
		<div class="action-buttons-container">
			
		</div>
		<div id="sidebar_app_fields_container"class="">
		</div>
	</div>
	<div class="body-left">
		<div class="">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> fade in">
			      <a class="close" data-dismiss="alert" href="#">&times;</a>
			      <%= value %>
			    </div>
			<% end %>
		</div>
		<div class="page-title-container">
			<div class="return-nav pull-left">
				<%= link_to raw("<i class=""icon-circle-arrow-left""></i>return to catalog"), catalog_items_path %>
			</div>
			<div class="page-title">
				Create a New Catalog Item
			</div>
		</div>
		<div class="parent-page">
			<div class="">
				<%= simple_form_for(@catalog_item) do |f| %>
					<% if f.error_notification %>
						    <div class="alert alert-error fade in">
						      <a class="close" data-dismiss="alert" href="#">&times;</a>
						      <%= f.error_notification %>
						    </div>
						<% end %>
					<div id="catalog_item">
						<%= render 'fields', f: f %>
					</div>
					<div class="actions-bar">
						<button type="submit" class="btn btn-primary">
						  <i class="icon-save"></i>&nbsp;&nbsp;Create this Catalog Item
						</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
	$(function(){
		this.manufacturers = new Quota.Collections.Manufacturers(gon.manufacturers);
		
		if(gon.catalog_item){
			this.catalog_item = new Quota.Models.CatalogItem(gon.catalog_item);
		}
		else{
			this.catalog_item = new Quota.Models.CatalogItem();
			this.catalog_item.fetch();
		}
		
		window.vent = _.extend({}, Backbone.Events);
	
		var view_catalog_item = new Quota.Views.EditCatalogItem({model:this.catalog_item, manufacturers: this.manufacturers, vent: vent, el: '#catalog_item'});
		view_catalog_item.setup();
		// $('#catalog_item').html(view_catalog_item.render().el);
	});	
	
	$('input, textarea').placeholder();
</script>