<% provide(:title, "Add Catalog Item") %>
<div class="span10">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %> fade in">
	      <a class="close" data-dismiss="alert" href="#">&times;</a>
	      <%= value %>
	    </div>
	<% end %>
	<h1>Add Catalog Item</h1>
	
	<%= simple_form_for(@catalog_item, :html => { :class => 'form-vertical' }) do |f| %>
		<%= render 'fields', f: f %>
	
		<div class="form-actions">
		    <%= f.button :submit, "Add catalog item", class: "btn btn-primary" %>
			<%= link_to 'Cancel', catalog_items_path, :class => 'btn' %>
		</div>
	<% end %>
		
</div>