<% provide(:title, "Update Sales Rep")%>
<% @nav_caret = "administration" %>

<% content_for :css do %>
<% end %>

<div>
	<div class="">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %> fade in">
		      <a class="close" data-dismiss="alert" href="#">&times;</a>
		      <%= value %>
		    </div>
		<% end %>
	</div>
	<div class="parent-page">
		<div class="page-title-container">
			<div class="return-nav">
				<%= link_to raw("return to sales reps"), sales_reps_path %>
			</div>
			<div class="page-title">
				<span class="label label-info">Editing</span> Sales Rep
			</div>
		</div>
		<div class="page-content-container">
			<%= simple_form_for(@rep, :url => sales_rep_path(@rep.pub_key)) do |f| %>
				<%= render 'fields', f: f %>
				<div class="actions-bar">
					<button type="submit" class="btn btn-primary">
					  <i class="icon-save"></i>&nbsp;&nbsp;Save Changes to Rep
					</button>
				</div>
			<% end %>
		</div>
	</div>
</div>


<%= content_for :right do %>
<% end %>


<% content_for :page_script do %>
<% end %>