<% provide(:title, "Sign in") %>
<div class="row-fluid">
<div class="span4"></div>
<div class="span4">
	<div class="parent-page">
		<div class="page-title-container">
			<div class="page-title page-title-no-back">
				Sign In
			</div>
		</div>
		<div class="page-content-container">
			<div class="">
				<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %> fade in">
				      <a class="close" data-dismiss="alert" href="#">&times;</a>
				      <%= value %>
				    </div>
				<% end %>
			</div>
			<%= form_for(:session, url: sessions_path) do |f| %>

				<%= f.label :email %>
				<%= f.text_field :email, :class => "input-xlarge" %>

				<%= f.label :password %>
				<%= f.password_field :password, :class => "input-xlarge" %>
				<div class="actions-bar-left">
				<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
				</div>
			<% end %>
		</div>
</div>
<% if 1== 1 %>
	<br>
	<div class="show-field">
		<span class="show-label">Don't have an account? <%= link_to "Sign up now!", signup_path %></p>
	</div>
<% end %>
<div class="span4"></div>
</div>