<div class="section-heading">
	<h3>Catalog Item Details - BB</h3>
</div>
<div class="row-fluid">
<div class="span6">
<div class="control-group string required">
	<label for="catalog_item_name" class="string required control-label">Name</label>
	<div class="controls">
		<input type="text" value="{{catalog_item.name}}" size="30" name="catalog_item[name]" id="catalog_item_name" class="string required">
	</div>
</div>
<div class="control-group">
	<label for="catalog_item_description" class="string control-label">Description</label>
	<div class="controls">
		<textarea name="catalog_item[description]" id="catalog_item_description" class="string">{{catalog_item.description}}</textarea>
	</div>
</div>
<div class="control-group">
	<label for="catalog_item_list_price" class="string control-label">List Price</label>
	<div class="controls catalog_item_list_price">
		<div class="input-prepend">
			<span class="add-on">$</span>
			<input type="text" value="{{catalog_item.list_price}}" name="catalog_item[list_price]" id="catalog_item_list_price" class="string input-small">
			<select class="input-medium" name="catalog_item[recurring_unit]" value="{{catalog_item.recurring_unit}}">
				<option value="ONETIME">one time</option>
				<option value="HOUR">per hour</option>
				<option value="DAY">per day</option>
				<option value="WEEK">per week</option>
				<option value="MONTH">per month</option>
				<option value="QUARTER">per quarter</option>
				<option value="YEAR">per year</option>
			</select>
		</div>
	</div>
</div>
</div>
<div class="span1"></div>
<div class="span5">
<div class="control-group">
	<label for="catalog_item_part_number" class="string required control-label">Part Number</label>
	<div class="controls">
		<input type="text" value="{{catalog_item.part_number}}" size="30" name="catalog_item[part_number]" id="catalog_item_part_number" class="string required">
	</div>
</div>
<div class="control-group">
	<label for="catalog_item_manufacturer" class="string control-label">Manufacturer</label>
	<div class="controls catalog_item_manufacturer" id="manufacturers"></div>
</div>
<div class="control-group">
	<div class="span8">
		<label>&nbsp;</label>
		<div class="controls catalog_item_is_trimble">
			<input type="checkbox" value="{{catalog_item.is_trimble}}" name="catalog_item[is_trimble]" id="catalog_item_is_trimble" class="">
			&nbsp;is Trimble?
		</div>
	</div>
</div>
<div class="control-group">
	<div class="span8">
		<label>&nbsp;</label>
		<div class="controls catalog_item_is_taxable">
			<input type="checkbox" value="{{catalog_item.is_taxable}}" name="catalog_item[is_taxable]" id="catalog_item_is_taxable" class="">
			&nbsp;is cancelled?
		</div>
	</div>
</div>
</div>
</div>