<td width="3%">
	&nbsp;
</td>
<td>
	<a href="/catalog/{{catalog_item_child_item.pub_key}}">{{catalog_item_child_item.child_item.name}}</a>
</td>
<td>
	<a href="/catalog/{{catalog_item_child_item.pub_key}}">{{catalog_item_child_item.child_item.part_number}}</a>
</td>
<td>
	<a href="/catalog/{{catalog_item_child_item.pub_key}}">{{catalog_item_child_item.child_item.list_price}}</a>
</td>
<td>
  <i class="icon-remove"></i>
</td>