<div class="control-group val">
	<div class="controls contact_method_remove btn btn-mini btn-danger">
		<i class="icon-minus"></i>
	</div>
	<span class="controls contact_method_name">
		<input type="text" class="input-small" name="contact_address[name]" value="{{contact_address.name}}" placeholder="address">
	</span>
	<span class="controls contact_method_address">
		<textarea class="input-large" name="contact_address[street1]" placeholder="Street">{{contact_address.street1}}</textarea>
		<br>
		<input type="text" class="span4" name="contact_address[city]" value="{{contact_address.city}}" placeholder="City">
		<input type="text" class="span2" name="contact_address[state]" value="{{contact_address.state}}" placeholder="State">
		<input type="text" class="span2" name="contact_address[zip]" value="{{contact_address.zip}}" placeholder="ZIP">
		<br>
		<input type="text" class="input-large" name="contact_address[country]" value="{{contact_address.country}}" placeholder="Country">
	</span>
</div>