<div class="contact_method_show">
	<table width="100%">
		<tr>
			<td valign="top" class="span1">
				
			</td>
			<td align="right" valign="top" class="span2 contact_method_show_holder">
				<span class="contact_method_name">{{contact_address.name}}</span>
			</td>
			<td class="contact_method_show_holder">
				<span class="contact_method_val">
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td>
							{{contact_address.street1}}
						</td>
					</tr>
					<tr>
						<td>
							{{contact_address.street2}}
						</td>
					</tr>
					<tr>
						<td>
							{{contact_address.city}}, {{contact_address.state}}  {{contact_address.zip}}
						</td>
					</tr>
					<tr>
						<td>
							{{contact_address.country}}
						</td>
					</tr>
				</table>
				</span>
			</td>
		</tr>
	</table>
</div>
<div class="contact_method_edit" style="display:none;">
	<table width="100%">
		<tr>
			<td valign="top" class="span1">
				<i class="icon-remove"></i>
			</td>
			<td align="right" valign="top" class="span2 contact_method_name">
				<input type="text" class="input-small" name="addresses[][name]" value="{{contact_address.name}}" placeholder="Address">
			</td>
			<td class="span6 contact_method_val contact_method_address">
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td class="span12">
							<input type="text" class="contact_method_street1" name="addresses[][street1]" value="{{contact_address.street1}}" placeholder="Street">
						</td>
					</tr>
					<tr>
						<td class="span12">
							<input type="text" class="contact_method_street2" name="addresses[][street2]" value="{{contact_address.street2}}" placeholder="Street continued">
						</td>
					</tr>
					<tr>
						<td class="span12">
							<input type="text" value="{{contact_address.city}}" name="addresses[][city]" class="span6 contact_method_city" placeholder="City" title="City">
							<input type="text" value="{{contact_address.state}}" name="addresses[][state]" class="span3 contact_method_state" placeholder="state" title="State">
							<input type="text" value="{{contact_address.zip}}" name="addresses[][zip]" class="span3 contact_method_zip" placeholder="Zip" title="Zip Code">
						</td>
					</tr>
					<tr>
						<td class="span12">
							<input type="text" class="contact_method_country" name="addresses[][country]" value="{{contact_address.country}}" placeholder="Country">
						</td>
					</tr>
				</table>
			</td>
			<td valign="top" class="span2">
				&nbsp;&nbsp;<i class="icon-spinner" style="display:none;"></i>
			</td>
			<td>
			</td>
		</tr>
	</table>
</div>
<input type="hidden" class="input-small" name="addresses[][pub_key]" value="{{contact_address.pub_key}}">