<div class="row">
<div class="span1">
</div>
<div class="span2">
	{{#if contact.is_company}}
		<span class="contact_icon">
			<i class="icon-building" />
		</span>
	{{else}}
		<span class="contact_icon">
			<i class="icon-user" />
		</span>
	{{/if}}
</div>
<div class="span6 contact_show">
	<table width="100%">
		<tr>
			<td class="span8 contact_show_name contact_show_holder">
				{{contact.name}}
			</td>
		</tr>
		<tr class="contact_show_title contact_show_holder" {{#if contact.is_company}}style="display:none;"{{/if}}>
			<td class="span8">
				{{#if contact.title}}
					{{contact.title}}
				{{/if}}
			</td>
			<td>
			</td>
		</tr>
		<tr class="contact_show_company contact_show_holder" {{#if contact.is_company}}style="display:none;"{{/if}}>
			<td class="span8">
				{{#if contact.company}}
					{{contact.company.name}}
				{{/if}}
			</td>
			<td>
			</td>
		</tr>
	</table>
</div>
<div class="span6 contact_edit" style="display:none">
	<table width="100%">
		<tr>
			<td class="span12 contact_edit_name">
				<input type="text" name="contact[name]" value="{{contact.name}}" placeholder="First Last">
			</td>
			<td>
			</td>
		</tr>
		<tr class="contact_title contact_edit_title" {{#if contact.is_company}}style="display:none;"{{/if}}>
			<td class="span12">
				<input type="text" name="contact[title]" value="{{contact.title}}" placeholder="Title">
			</td>
			<td>
			</td>
		</tr>
		<tr class="contact_company contact_edit_company" {{#if contact.is_company}}style="display:none;"{{/if}}>
			<td class="span12">
				<input type="text" name="contact[company]" value="{{#if contact.company}}{{contact.company.name}}{{/if}}" placeholder="Company">
			</td>
			<td>
			</td>
		</tr>
		<tr class="contact_edit_is_company">
			<td class="span12">
				<input type="checkbox" class="" name="contact[is_company]" {{#if contact.is_company}}checked{{/if}}> company
			</td>
			<td>
			</td>
		</tr>
	</table>
</div>
<input type="hidden" name="contact[company_key]" value="{{contact.company_key}}" class="contact_company_key">
<input type="hidden" name="contact[pub_key]" value="{{contact.pub_key}}" class="contact_pub_key">
<div class="span3">
	&nbsp;&nbsp;
	<span class="btn btn-primary contact_btn_edit">Edit</span>
	<span class="btn btn-primary contact_btn_done" style="display:none;">Done</span>
	&nbsp;<i class="contact_spinner icon-spinner" style="display:none;"></i>
</div>
</div>
<div class="row">
<br><br>
<h5>Phone Numbers</h5>
<div class="contact_phones">
	<ul class="contact_phones_list">
	</ul>
	<ul class="contact_phones_add">
	</ul>
</div>
<br>
<h5>Email Addresses</h5>
<div class="contact_emails">
	<ul class="contact_emails_list">
	</ul>
	<ul class="contact_emails_add">
	</ul>
</div>
<br>
<h5>Mailing Addresses</h5>
<div class="contact_addresses">
	<ul class="contact_addresses_list">
	</ul>
	<ul class="contact_addresses_add">
	</ul>
</div>
<br>
<h5>Websites and Links</h5>
<div class="contact_urls">
	<ul class="contact_urls_list">
	</ul>
	<ul class="contact_urls_add">
	</ul>
</div>
</div>