<td>
	<i class="icon-sort-down"></i>
</td>
<td>
	<span class="label label-success">part</span>
</td>
<td>
	{{template.name}}
</td>
<td>
	<a href="/templates/{{template.pub_key}}">{{template.name}} - {{template.name}}</a>
</td>
<td>
	{{template.name}}
</td>
<td>
<button class="btn btn-mini btn-danger template_remove">
  <i class="icon-remove"></i>
</button>
</td>