<span>
	<i class="icon-resize-vertical"></i>
</span>
<span class="template_item_name">
	{{template_item.name}}
</span>
<span class="template_item_part_number">
	{{template_item.part_number}}
</span>
<span class="template_item_quantity">
	{{template_item.quantity}}
</span>
<span class="template_item_unit_price">
	{{template_item.unit_price}}
</span>
<span class="template_item_total">
	{{template_item.total}}
</span>
<span>
<button class="btn btn-mini btn-danger template_item_remove">
  <i class="icon-remove"></i>
</button>
</span>