<table class="" width="100%" cellspacing="5px">
<tr class="template-item-row-show">
	<td width="3%">
		<i class="icon-button icon-sort" />
	</td>
	<td width="3%">
		<i class="icon-button icon-sort-down" style="display:none" />
		<i class="icon-button icon-sort-up" style="display:none" />
	</td>
	<td width="28%">
		<div class="template_item_name_holder template_item_holder">{{template_item.name}}</div>
		<input type="text" class="template_item_name_shim" style="height:0; width:0; padding:0; margin:0; float:left; border:none;">
	</td>
	<td width="12%">
		<div class="template_item_part_number_holder template_item_holder">{{template_item.part_number}}</div>
	</td>
	<td width="5%">
		<div class="template_item_quantity_holder template_item_holder">{{template_item.quantity}}</div>
	</td>
	<td width="20%">
		<div class="template_item_unit_price_holder template_item_holder">{{template_item.unit_price}}</div>
		<div class="template_item_unit_price_unit_holder template_item_holder">{{template_item.unit_price_unit}}</div>
	</td>
	<td width="20%">
		<div class="template_item_total_holder template_item_holder">{{template_item.total}}</div>
	</td>
	<td width="8%">
		<i class="icon-button icon-cog"></i>
	 	<i class="icon-button icon-remove"></i>
		<i class="icon-button icon-spinner" style="display:none"></i>
	</td>
</tr>
<tr class="template-item-row-show-details">
	<td colspan="2"></td>
	<td colspan="4" valign="top">
		<div class="template_item_description_holder template_item_holder">{{template_item.description}}</div>
	</td>
	<td colspan="2" valign="top">
	</td>
</tr>
<tr class="template-item-row-edit" style="display:none">
	<td width="3%">
		<i class="icon-button icon-sort" />
	</td>
	<td width="3%">
		<i class="icon-button icon-sort-down" style="display:none" />
		<i class="icon-button icon-sort-up" style="display:none" />
	</td>
	<td width="28%">
		<input type="text" name="template_item[name]" value="{{template_item.name}}" class="template_item_name" style="display:none">
	</td>
	<td width="12%">
		<input type="text" name="template_item[part_number]" value="{{template_item.part_number}}" class="template_item_part_number" style="display:none">
	</td>
	<td width="5%">
		<input type="text" name="template_item[quantity]" value="{{template_item.quantity}}" class="template_item_quantity">
	</td>
	<td width="20%">
		<input type="text" name="template_item[unit_price]" value="{{template_item.unit_price}}" class="template_item_unit_price">
		<select name="template_item[unit_price_unit]" label="false" id="template_item_unit_price_unit" class="template_item_unit_price_unit">
		<option value=""></option>
		<option data-key="recurring_unit" value="per hour">per hour</option>
		<option data-key="recurring_unit" value="per day">per day</option>
		<option data-key="recurring_unit" value="per week">per week</option>
		<option data-key="recurring_unit" value="per month">per month</option>
		<option data-key="recurring_unit" value="per quarter">per quarter</option>
		<option data-key="recurring_unit" value="per year">per year</option></select>
	</td>
	<td width="20%">
		<input type="text" name="template_item[total]" value="{{template_item.total}}" class="template_item_total">
	</td>
	<td width="8%">
		<i class="icon-button icon-cog"></i>
	 	<i class="icon-button icon-remove"></i>
		<i class="icon-button icon-spinner" style="display:none"></i>
	</td>
</tr>
<tr class="template-item-row-edit-details" style="display:none">
	<td colspan="2"></td>
	<td colspan="4" valign="top">
		<textarea  class="template_item_description" name="template_item[description]" cols="30" rows="3" value="" style="display:none">{{template_item.description}}</textarea>
	</td>
	<td colspan="2" valign="top">
		<div class="template_item_checkboxes">
			<input type="checkbox" value="true" name="template_item[is_group_heading]" class="template_item_is_group_heading" {{#if template_item.is_group_heading}}checked{{/if}}>
			&nbsp;display as group heading
		</div>
		<div class="template_item_checkboxes">
			<input type="checkbox" value="true" name="template_item[not_in_total]" class="template_item_not_in_total" {{#if template_item.not_in_total}}checked{{/if}}>
			&nbsp;do not include in total
		</div>
		<div class="template_item_checkboxes template_item_hide_package_contents_container" style="display:none">
			<input type="checkbox" value="true" name="template_item[hide_package_contents]" class="template_item_hide_package_contents" {{#if template_item.hide_package_contents}}checked{{/if}}>
			&nbsp;hide package contents
		</div>
	</td>
</tr>
<tr class="template-item-row-package-contents" style="display:none">
	<td colspan="8">
		<ul>
		</ul>
	</td>
</tr>
</table>
<input type="hidden" name="template_item[catalog_item_key]" value="{{template_item.catalog_item_key}}" class="template_item_catalog_item_key">