<table class="" width="100%" cellspacing="0" cellpadding="0">
<tr class="template-item-row-show">
	<td width="3%">
		<i class="icon-button icon-sort" />
	</td>
	<td width="3%">
		<i class="icon-button icon-sort-down" style="display:none" />
		<i class="icon-button icon-sort-up" style="display:none" />
	</td>
	<td width="29%">
		<div class="template_item_name_holder template_item_holder">{{template_item.name}}</div>
		<input type="text" class="template_item_name_shim template_item_shim">
	</td>
	<td width="12%">
		<div class="template_item_part_number_holder template_item_holder">{{template_item.part_number}}</div>
	</td>
	<td width="5%">
		<div class="template_item_quantity_holder template_item_holder">{{template_item.quantity}}</div>
	</td>
	<td width="12%" class="align-right">
		<div class="template_item_unit_price_holder template_item_holder">{{template_item.unit_price}}</div>
	</td>
	<td width="8%">
		<div class="template_item_unit_price_unit_holder template_item_holder">{{template_item.unit_price_unit}}</div>
	</td>
	<td width="12%" class="align-right">
		<div class="template_item_total_holder template_item_holder">{{template_item.total}}</div>
	</td>
	<td width="8%">
		<div class="template_item_total_unit_holder template_item_holder">{{template_item.total_unit}}</div>
	</td>
	<td width="8%">
		<i class="icon-button icon-cog"></i>
	 	<i class="icon-button icon-remove"></i>
		<i class="icon-button icon-spinner" style="display:none"></i>
	</td>
</tr>
<tr class="template-item-row-show-details">
	<td colspan="2"></td>
	<td colspan="2" valign="top">
		<div class="template_item_description_holder template_item_holder">{{template_item.description}}</div>
	</td>
	<td colspan="6" valign="top">
		<input type="text" class="template_item_description_shim template_item_shim">
	</td>
</tr>
<tr class="template-item-row-edit" style="display:none">
	<td width="3%">
		<i class="icon-button icon-sort" />
	</td>
	<td width="3%">
		<i class="icon-button icon-sort-down" style="display:none" />
		<i class="icon-button icon-sort-up" style="display:none" />
	</td>
	<td width="29%">
		<input type="text" name="template_item[name]" value="{{template_item.name}}" class="template_item_name" placeholder="item name (search by name or part number)" title="Item Name">
	</td>
	<td width="12%">
		<input type="text" name="template_item[part_number]" value="{{template_item.part_number}}" class="template_item_part_number" placeholder="optional part num" title="Part Number">
	</td>
	<td width="5%">
		<input type="text" name="template_item[quantity]" value="{{template_item.quantity}}" class="template_item_quantity" title="Quantity">
	</td>
	<td width="12%" class="align-right">
		<input type="text" name="template_item[unit_price]" value="{{template_item.unit_price}}" class="template_item_unit_price align-right" placeholder="price per unit" title="Unit Price">
	</td>
	<td width="8%">
		<select name="template_item[unit_price_unit]" label="false" class="template_item_unit_price_unit" placeholder="per" title="Per">
			<option value="" {{#equal template_item.unit_price_unit ""}}selected{{/equal}}></option>
			<option value="per hour" {{#equal template_item.unit_price_unit "per hour"}}selected{{/equal}}>per hour</option>
			<option value="per day" {{#equal template_item.unit_price_unit "per day"}}selected{{/equal}}>per day</option>
			<option value="per week" {{#equal template_item.unit_price_unit "per week"}}selected{{/equal}}>per week</option>
			<option value="per month" {{#equal template_item.unit_price_unit "per month"}}selected{{/equal}}>per month</option>
			<option value="per quarter" {{#equal template_item.unit_price_unit "per quarter"}}selected{{/equal}}>per quarter</option>
			<option value="per year" {{#equal template_item.unit_price_unit "per year"}}selected{{/equal}}>per year</option>
		</select>
	</td>
	<td width="12%" class="align-right">
		<input type="text" name="template_item[total]" value="{{template_item.total}}" class="template_item_total align-right" placeholder="item total" title="Item Total">
	</td>
	<td width="8%">
		<select name="template_item[total_unit]" label="false" class="template_item_total_unit" placeholder="per" title="Per">
			<option value="" {{#equal template_item.total_unit ""}}selected{{/equal}}></option>
			<option value="per hour" {{#equal template_item.total_unit "per hour"}}selected{{/equal}}>per hour</option>
			<option value="per day" {{#equal template_item.total_unit "per day"}}selected{{/equal}}>per day</option>
			<option value="per week" {{#equal template_item.total_unit "per week"}}selected{{/equal}}>per week</option>
			<option value="per month" {{#equal template_item.total_unit "per month"}}selected{{/equal}}>per month</option>
			<option value="per quarter" {{#equal template_item.total_unit "per quarter"}}selected{{/equal}}>per quarter</option>
			<option value="per year" {{#equal template_item.total_unit "per year"}}selected{{/equal}}>per year</option>
		</select>
	</td>
	<td width="8%">
		<i class="icon-button icon-cog"></i>
	 	<i class="icon-button icon-remove"></i>
		<i class="icon-button icon-spinner" style="display:none"></i>
	</td>
</tr>
<tr class="template-item-row-edit-details" style="display:none">
	<td colspan="2"></td>
	<td colspan="2" valign="top">
		<textarea  class="template_item_description" name="template_item[description]" cols="30" rows="3" value="" placeholder="optional description or notes" title="Description or Notes">{{template_item.description}}</textarea>
	</td>
	<td></td>
	<td colspan="5" valign="top">
		<div class="template_item_checkboxes">
			<input type="checkbox" value="true" name="template_item[is_group_heading]" class="template_item_is_group_heading" {{#if template_item.is_group_heading}}checked{{/if}} title="Apply Alternate Colors">
			&nbsp;apply alternate colors
		</div>
		<div class="template_item_checkboxes">
			<input type="checkbox" value="true" name="template_item[not_in_total]" class="template_item_not_in_total" {{#if template_item.not_in_total}}checked{{/if}} title="Do Not Include in Document Total">
			&nbsp;do not include in document total
		</div>
		<div class="template_item_checkboxes template_item_hide_package_contents_container" style="display:none">
			<input type="checkbox" value="true" name="template_item[hide_package_contents]" class="template_item_hide_package_contents" {{#if template_item.hide_package_contents}}checked{{/if}} title="Hide Package Contents">
			&nbsp;hide package contents
		</div>
	</td>
</tr>
<tr class="template-item-row-package-contents" style="display:none">
	<td colspan="10">
		<ul>
		</ul>
	</td>
</tr>
</table>
<input type="hidden" name="template_item[catalog_item_key]" value="{{template_item.catalog_item_key}}" class="template_item_catalog_item_key">