<td>
</td>
<td>
	{{template_item.quantity}}
</td>
<td>
	{{template_item.part_number}}
</td>
<td>
	{{template_item.name}}
</td>
<td>
	{{template_item.unit_price}}
</td>
<td>
	{{template_item.total}}
</td>
<td><button class="btn btn-mini btn-danger template_item_remove">
  <i class="icon-remove"></i>
</button>
</td>