<% provide(:title, "Add Contact")%>
<div class="span10">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %> fade in">
	      <a class="close" data-dismiss="alert" href="#">&times;</a>
	      <%= value %>
	    </div>
	<% end %>
	<h1>Add Contact</h1>
	
	<%= simple_form_for(@contact) do |f| %>
		<%= render 'fields', f: f %>
		<%= f.button :submit, "Add contact", class: "btn btn-large btn-primary" %>
	<% end %>
	
	<h2>Phone Numbers</h2>
	<div id="contact_phones">
		
	</div>
	<h2>Email</h2>
	<div id="contact_emails">
		
	</div>
	<h2>Websites</h2>
	<div id="contact_urls">
		
	</div>
	<h2>Addresses</h2>
	<div id="contact_addresses">

	</div>
</div>