<% provide(:title, "Add Contact")%>
<% @nav_caret = "contacts" %>
<div class="body">
	<div class="body-right pull-right">
		<div class="action-buttons-container">
			
		</div>
		<div id="sidebar_app_fields_container"class="">
		</div>
	</div>
	<div class="body-left">
		<div class="">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> fade in">
			      <a class="close" data-dismiss="alert" href="#">&times;</a>
			      <%= value %>
			    </div>
			<% end %>
		</div>
		<div class="page-title-container">
			<div class="return-nav pull-left">
				<%= link_to raw("<i class=""icon-circle-arrow-left""></i>return to contacts"), contacts_path %>
			</div>
			<div class="page-title">
				New Contact
			</div>
		</div>
		<div class="parent-page">
			<div class="row-fluid">
				<div id="">
					<%= simple_form_for(@contact) do |f| %>
						<div class="row-fluid">
							<% if f.error_notification %>
						    	<div class="alert alert-error fade in">
						      		<a class="close" data-dismiss="alert" href="#">&times;</a>
						      		<%= f.error_notification %>
						    	</div>
							<% end %>
						</div>
						<div id="contact">
							<%= render 'fields', f: f %>
						</div>
						<br><br>
						<div class="row">
							<div class="span5">
								<div class="section-heading">
									<h3>Phone Numbers</h3>
								</div>
								<div id="contact-phones">
									<table cellpadding="5" cellspacing="0" border="0">
									<% @contact.phones.each do |phone| %>
										<tr class="show-field">
											<td class="show-label" valign="top"><%= phone.name %></td>
											<td class="show-value" valign="top"><%= phone.val %></td>
										</tr>
									<% end %>
									</table>
								</div>
								<div class="section-form" style="display:none;">
								</div>
								<div id="contact-phones-actions" class="section-actions actions-bar-left actions-bar-clear">
									<button type="submit" class="btn btn-primary form-submit">
										<i class="icon-plus"></i>&nbsp;&nbsp;Add a phone number
									</button>
									<a class="btn btn-danger form-cancel" href="#" style="display:none;">
										<i class="icon-remove"></i>&nbsp;&nbsp;-&nbsp;&nbsp;I'm done adding phone numbers
									</a>
								</div>
							</div>
							<div class="span2">
							</div>
							<div class="span5">
								<div class="section-heading">
									<h3>Email Addresses</h3>
								</div>
								<div id="contact-emails">
									<table cellpadding="5" cellspacing="0" border="0">
									<% @contact.emails.each do |email| %>
										<tr class="show-field">
											<td class="show-label" valign="top"><%= email.name %></td>
											<td class="show-value" valign="top"><%= email.val %></td>
										</tr>
									<% end %>
									</table>
								</div>
								<div class="section-form" style="display:none;">
								</div>
								<div id="contact-emails-actions" class="section-actions actions-bar-left actions-bar-clear">
									<button type="submit" class="btn btn-primary form-submit">
										<i class="icon-plus"></i>&nbsp;&nbsp;Add an email address
									</button>
									<a class="btn btn-danger form-cancel" href="#" style="display:none;">
										<i class="icon-remove"></i>&nbsp;&nbsp;-&nbsp;&nbsp;I'm done adding email addresses
									</a>
								</div>
							</div>
						</div>
						<br><br><br>
						<div class="row">
							<div class="span5">
								<div class="section-heading">
									<h3>Links</h3>
								</div>
								<div id="contact-urls">
									<table cellpadding="5" cellspacing="0" border="0">
									<% @contact.urls.each do |url| %>
										<tr class="show-field">
											<td class="show-label" valign="top"><%= url.name %></td>
											<td class="show-value" valign="top"><%= url.val %></td>
										</tr>
									<% end %>
									</table>
								</div>
								<div class="section-form" style="display:none;">
								</div>
								<div id="contact-urls-actions" class="section-actions actions-bar-left actions-bar-clear">
									<button type="submit" class="btn btn-primary form-submit">
										<i class="icon-plus"></i>&nbsp;&nbsp;Add a link
									</button>
									<a class="btn btn-danger form-cancel" href="#" style="display:none;">
										<i class="icon-remove"></i>&nbsp;&nbsp;-&nbsp;&nbsp;I'm done adding links
									</a>
								</div>
							</div>
							<div class="span2">
							</div>
							<div class="span5">
								<div class="section-heading">
									<h3>Mailing Addresses</h3>
								</div>
								<div id="contact-addresses">
									<table cellpadding="5" cellspacing="0" border="0">
									<% @contact.addresses.each do |address| %>
										<tr class="show-field">
											<td class="show-label" valign="top"><%= address.name %></td>
											<td class="show-value" valign="top"><%= address.street1 %><br><%= address.city %> <%= address.state %> <%= address.zip %><br><%= address.country %></td>
										</tr>
									<% end %>
									</table>
								</div>
								<div class="section-form" style="display:none;">
								</div>
								<div id="contact-addresses-actions" class="section-actions actions-bar-left actions-bar-clear">
									<button type="submit" class="btn btn-primary form-submit">
										<i class="icon-plus"></i>&nbsp;&nbsp;Add a mailing address
									</button>
									<a class="btn btn-danger form-cancel" href="#" style="display:none;">
										<i class="icon-remove"></i>&nbsp;&nbsp;-&nbsp;&nbsp;I'm done adding mailing address
									</a>
								</div>
							</div>
						</div>
						<br><br><br>
						<div class="actions-bar">
							<button type="submit" class="btn btn-primary">
							  <i class="icon-save"></i>&nbsp;&nbsp;Save Changes to Contact
							</button>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
	$(function(){
		this.contact_types = new Quota.Collections.ContactTypes(gon.contact_types);
		this.companies = new Quota.Collections.Companies(gon.companies);
	
		this.contact = new Quota.Models.Contact();
		window.vent = _.extend({}, Backbone.Events);
	
		// var view_contact = new Quota.Views.EditContact({model:this.contact, contact_types: this.contact_types, companies: this.companies, vent: vent});
		// 		$('#contact').html(view_contact.render().el);
	});	
	
	$.fn.placeholder();
</script>