<% provide(:title, "Contact")%>
<% @nav_caret = "contacts" %>
<div class="body">
	<div class="body-right pull-right">
		<div class="row-fluid">
			<%= link_to raw("<i class=""icon-edit""></i>&nbsp;&nbsp;Change contact details"), edit_contact_path(@contact.pub_key), :class => 'btn btn-primary' %>
		</div>
	</div>
	<div class="body-left">
		<div class="">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> fade in">
			      <a class="close" data-dismiss="alert" href="#">&times;</a>
			      <%= value %>
			    </div>
			<% end %>
		</div>
		<div class="page-title-container">
			<div class="return-nav pull-left">
				<%= link_to raw("<i class=""icon-circle-arrow-left""></i>return to contacts"), contacts_path %>
			</div>
			<div class="page-title">
				&nbsp;
			</div>
		</div>
		<div class="parent-page">
			<div id="main_body_container" class="">
				<div class="row-fluid section-form-plain">
					<div class="span9">
						<div id="contact">
							<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td><h1><i class="contact_type <%= @contact.contact_type.icon_class %>"></i></h1></td>
									<td>
										<h1><%= @contact.name %></h1>
										<%= @contact.title %>
									</td>
								</tr>
							</table>
							<br><br>
							<div class="row">
								<div class="span6">
									<div class="section-heading">
										<h3>Phone Numbers</h3>
									</div>
									<div id="contact_phones">
										<table cellpadding="5" cellspacing="0" border="0">
										<% @contact.phones.each do |phone| %>
											<tr class="show-field">
												<td class="show-label" valign="top"><%= phone.name %></td>
												<td class="show-value" valign="top"><%= phone.val %></td>
											</tr>
										<% end %>
										</table>
									</div>
									<br><br>
								</div>
								<div class="span6">
									<div class="section-heading">
										<h3>Email Addresses</h3>
									</div>
									<div id="contact_emails">
										<table cellpadding="5" cellspacing="0" border="0">
										<% @contact.emails.each do |email| %>
											<tr class="show-field">
												<td class="show-label" valign="top"><%= email.name %></td>
												<td class="show-value" valign="top"><%= email.val %></td>
											</tr>
										<% end %>
										</table>
									</div>
									<br><br>
								</div>
							</div>
							<div class="row">
								<div class="span6">
									<div class="section-heading">
										<h3>Links</h3>
									</div>
									<div id="contact_urls">
										<table cellpadding="5" cellspacing="0" border="0">
										<% @contact.urls.each do |url| %>
											<tr class="show-field">
												<td class="show-label" valign="top"><%= url.name %></td>
												<td class="show-value" valign="top"><%= url.val %></td>
											</tr>
										<% end %>
										</table>
									</div>
									<br><br>
								</div>
								<div class="span6">
									<div class="section-heading">
										<h3>Mailing Addresses</h3>
									</div>
									<div id="contact_addresses">
										<table cellpadding="5" cellspacing="0" border="0">
										<% @contact.addresses.each do |address| %>
											<tr class="show-field">
												<td class="show-label" valign="top"><%= address.name %></td>
												<td class="show-value" valign="top"><%= address.street1 %><br><%= address.city %> <%= address.state %> <%= address.zip %><br><%= address.country %></td>
											</tr>
										<% end %>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="well pull-right">
						<div>
						<% if @contact_type == "Company" %>
							<div class="section-heading">
								<h3>Contacts</h3>
							</div>
							<% @contact.people.each do |contact| %>				
							<div class="show-field">
								<%= link_to "#{ contact.name }", contact_path(contact.pub_key) %>
							</div>
							<% end %>
						<% else %>
							<% if @company %>
							<div class="row-fluid">
								<h3><%= link_to "#{ @company.name }", contact_path(@company.pub_key) %></h3>
							</div>
							<table cellpadding="5" cellspacing="0" border="0">
							<% @company.phones.each do |phone| %>
								<tr class="show-field">
									<td class="show-label" valign="top"><%= phone.name %></td>
									<td class="show-value" valign="top"><%= phone.val %></td>
								</tr>
							<% end %>
							</table>

							<table cellpadding="5" cellspacing="0" border="0">
							<% @company.emails.each do |email| %>
								<tr class="show-field">
									<td class="show-label" valign="top"><%= email.name %></td>
									<td class="show-value" valign="top"><%= email.val %></td>
								</tr>
							<% end %>
							</table>

							<table cellpadding="5" cellspacing="0" border="0">
							<% @company.urls.each do |url| %>
								<tr class="show-field">
									<td class="show-label" valign="top"><%= url.name %></td>
									<td class="show-value" valign="top"><%= url.val %></td>
								</tr>
							<% end %>
							</table>

							<table cellpadding="5" cellspacing="0" border="0">
							<% @company.addresses.each do |address| %>
								<tr class="show-field">
									<td class="show-label" valign="top"><%= address.name %></td>
									<td class="show-value" valign="top"><%= address.street1 %><br><%= address.city %> <%= address.state %> <%= address.zip %><br><%= address.country %></td>
								</tr>
							<% end %>
							</table>
							<% end %>
						<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
	$(function(){
			// if(gon.contact_types){
			// 		  		this.contact_types = new Quota.Collections.ContactTypes(gon.contact_types);
			// 			}
			// 			else{
			// 				this.contact_types = new Quota.Collections.ContactTypes();
			// 				this.contact_types.fetch();
			// 			}
			// 			
			// 			if(gon.companies){
			// 				this.companies = new Quota.Collections.Companies(gon.companies);
			// 			}
			// 			else{
			// 				this.companies = new Quota.Collections.Companies();
			// 				this.companies.fetch();
			// 			}
			// 			
			// 			if(gon.contact){
			// 				this.contact = new Quota.Models.Contact(gon.contact);
			// 				// if(gon.contact_phones){
			// 				// 					this.contact.phones.add(gon.contact_phones);
			// 				// 				}
			// 				// 				else{
			// 					// this.contact.phones = new Quota.Collections.ContactPhones();
			// 					this.contact.phones.fetch();
			// 				// }
			// 				// 				if(gon.contact_emails){
			// 				// 					this.contact.emails.add(gon.contact_emails);
			// 				// 				}
			// 				// 				else{
			// 					// this.contact.emails = new Quota.Collections.ContactEmails();
			// 					this.contact.emails.fetch();
			// 				// }
			// 				// 				if(gon.contact_urls){
			// 				// 					this.contact.urls.add(gon.contact_urls);
			// 				// 				}
			// 				// 				else{
			// 					// this.contact.urls = new Quota.Collections.ContactUrls();
			// 					this.contact.urls.fetch();
			// 				// }
			// 				// 				if(gon.contact_addresses){
			// 				// 					this.contact.addresses.add(gon.contact_addresses);
			// 				// 				}
			// 				// 				else{
			// 					// this.contact.addresses = new Quota.Collections.ContactAddresses();
			// 					this.contact.addresses.fetch();
			// 				// }
			// 			}
			// 			else{
			// 				this.contact = new Quota.Models.Contact();
			// 				this.contact.fetch();
			// 			}
			// 			
			// 			
			// 			window.vent = _.extend({}, Backbone.Events);
			// 			
			// 			var view_contact = new Quota.Views.ShowContact({model:this.contact, contact_types: this.contact_types, companies: this.companies, vent: vent});
			// 			$('#contact').html(view_contact.render().el);
	});	
	
	$('input, textarea').placeholder();
</script>