<% provide(:title, "Edit Document") %>
<% @nav_caret = "opportunities" %>

<div class="body">
	<div class="body-right pull-right">
		<div class="action-buttons-container">
			
		</div>
		<div id="sidebar_app_fields_container"class="">
			<div class="show-field">
				<span class="show-label">Opportunity</span>
				<br>
				<span class="show-value"><%= @opportunity.name %></span>
			</div>
		</div>
	</div>
	<div class="body-left">
		<div class="">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> fade in">
			      <a class="close" data-dismiss="alert" href="#">&times;</a>
			      <%= value %>
			    </div>
			<% end %>
		</div>
		<div class="page-title-container">
			<div class="return-nav pull-left">
				<%= link_to raw("<i class=""icon-circle-arrow-left""></i>return to document"), document_path(@document.pub_key) %>
			</div>
			<div class="page-title">
				<span class="label label-info">Editing</span> <%= @document.name %>
			</div>
		</div>
		<div class="parent-page">
			<div class="">
				<%= simple_form_for(@document, :url => document_path(@document.pub_key)) do |f| %>
					<div class="row-fluid">
						<% if f.error_notification %>
						    <div class="alert alert-error fade in">
						      <a class="close" data-dismiss="alert" href="#">&times;</a>
						      <%= f.error_notification %>
						    </div>
						<% end %>
					</div>
					<div id="document">
						<%= render 'fields', f: f %>
					</div>
					<div class="actions-bar">
						<button type="submit" class="btn btn-primary">
						  <i class="icon-save"></i>&nbsp;&nbsp;Save Changes to Document Details
						</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
	$(function(){
		this.companies = new Quota.Collections.Companies(gon.companies);
		this.contacts = new Quota.Collections.Contacts(gon.contacts);
		
		if(gon.document){
			this.document = new Quota.Models.Document(gon.document);
		}
		else{
			this.document = new Quota.Models.document();
			this.document.fetch();
		}
		
		window.vent = _.extend({}, Backbone.Events);
	
		var view_document = new Quota.Views.EditDocument({model:this.document, companies: this.companies, contacts: this.contacts, vent: vent, el: '#document'});
		view_document.setup();
		// $('#contact').html(view_opportunity.render().el);
	});	
	
	$.fn.placeholder();
</script>