<% provide(:title, "Documents") %>



<% provide(:title, "Documents") %>

<% content_for :css do %>
<% end %>


<div>
	<div class="">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %> fade in">
		      <a class="close" data-dismiss="alert" href="#">&times;</a>
		      <%= value %>
		    </div>
		<% end %>
	</div>
	<div class="parent-page">
		<div class="page-title-container">
			<div class="page-title page-title-no-back">
				Documents
			</div>
		</div>
		<div class="page-content-container">
			<div id="opportunities_container">
				<div class="section-table">
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th>Name</th>
					      <th>Actions</th>
					    </tr>
					  </thead>
					  <tbody>
					    <% @documents.each do |doc| %>
					      <tr>
					        <td><%= link_to doc.name, document_path(doc.pub_key) %></td>
					        <td>
					          <%= link_to 'Edit', edit_document_path(doc.pub_key), :class => 'btn btn-mini' %>
					          <%= link_to 'Delete', document_path(doc.pub_key), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
					        </td>
					      </tr>
					    <% end %>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%= content_for :right do %>

<% end %>



<% content_for :page_script do %>


<% end %>
