<% provide(:title, "Add Document") %>
<% @nav_caret = "opportunities" %>

<div class="body">
	<div class="body-right pull-right">
		<div class="action-buttons-container">
			
		</div>
		<div id="sidebar_app_fields_container"class="">
			<div class="show-field">
				<span class="show-label">Opportunity</span>
				<br>
				<span class="show-value"><%= @opportunity.name %></span>
			</div>
		</div>
	</div>
	<div class="body-left">
		<div class="">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> fade in">
			      <a class="close" data-dismiss="alert" href="#">&times;</a>
			      <%= value %>
			    </div>
			<% end %>
		</div>
		<div class="page-title-container">
			<div class="return-nav pull-left">
				<%= link_to raw("<i class=""icon-circle-arrow-left""></i>return to opportunity"), opportunity_path(@opportunity.pub_key) %>
			</div>
			<div class="page-title">
				Create a New Document
			</div>
		</div>
		<div class="process-steps-container">
			<dl class="process-steps">
				<dt>1</dt>
				<dd>Choose opportunity</dd>
				<dt class="current">2</dt>
				<dd class="current">Fill-in document details</dd>
				<dt>3</dt>
				<dd>Choose a template</dd>
				<dt>4</dt>
				<dd>Add items and select financing</dd>
			</dl>
		</div>
		<div class="parent-page">
			<div class="">
				<%= simple_form_for(@document) do |f| %>
					<div class="row-fluid">
						<% if f.error_notification %>
						    <div class="alert alert-error fade in">
						      <a class="close" data-dismiss="alert" href="#">&times;</a>
						      <%= f.error_notification %>
						    </div>
						<% end %>
					</div>
					<div id="document">
						<%= render 'fields', f: f %>
					</div>
					<div class="actions-bar">
						<button type="submit" class="btn btn-primary">
						  <i class="icon-save"></i>&nbsp;&nbsp;Create Document and Select a Template
						</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
	$(function(){
		
	});	
	
	$.fn.placeholder();
</script>