<% provide(:title, "#{@document.name}") %>
<% @nav_caret = "opportunities" %>

<% content_for :css do %>
<%= stylesheet_link_tag "pages/document", :media => "all" %>
<% end %>

<div id="main_body_container" style="background: #fff">
	<div class="row-fluid">
		<div class="span12">
			<div class="span4">
				<div class="section-heading">
					<h4><%= @document.company.name %></h4>
				</div>
				<div class="">
					<% if @document.company_phone? %>
						phone: <%= @document.company_phone %><br>
					<% end %>
					<% if @document.company_fax? %>
						fax: <%= @document.company_fax %>
					<% end %>
				</div>
			</div>
			<div class="span1">
			
			</div>
			<div class="span4">
				<div class="section-heading">
					<h4><%= @document.contact.name %></h4>
				</div>
				<div class="">
					<% if @document.contact_phone? %>
						phone: <%= @document.contact_phone %><br>
					<% end %>
					<% if @document.contact_email? %>
						email: <%= @document.contact_email %>
					<% end %>
				</div>
			</div>
			<div class="span3 page-options">
				
			</div>
		</div>
		<div class="span12">
			<br><br>
		</div>
		<div class="span12">
			<div class="span4">
				<div class="section-heading">
					<h4>Billing To</h4>
				</div>
				<div class="">
					<% if @document.billing_street1? %>
						<%= @document.billing_street1 %><br>
					<% end %>
					<% if @document.billing_street2? %>
						<%= @document.billing_street2 %><br>
					<% end %>
					<% if @document.billing_city? %>
						<%= @document.billing_city %>, 
					<% end %>
					<% if @document.billing_state? %>
						<%= @document.billing_state %>  
					<% end %>
					<% if @document.billing_zip? %>
						<%= @document.billing_zip %><br>
					<% end %>
					<%= @document.billing_country %>
				</div>
			</div>
			<div class="span1">
			
			</div>
			<div class="span4">
				<div class="section-heading">
					<h4>Shipping To</h4>
				</div>
				<div class="">
					<% if @document.shipping_street1? %>
						<%= @document.shipping_street1 %><br>
					<% end %>
					<% if @document.shipping_street2? %>
						<%= @document.shipping_street2 %><br>
					<% end %>
					<% if @document.shipping_city? %>
						<%= @document.shipping_city %>, 
					<% end %>
					<% if @document.shipping_state? %>
						<%= @document.shipping_state %>  
					<% end %>
					<% if @document.shipping_zip? %>
						<%= @document.shipping_zip %><br>
					<% end %>
					<%= @document.shipping_country %>
				</div>
			</div>
			<div class="span3
			">
			
			</div>
		</div>
	</div>
	<div>
		<br><br>
	</div>
	<div>
		<hr size="0">
	</div>
	<div id="" class="row">
		<div class="section-heading">
			<h4></h4>
		</div>
		<div class="section-content">
			<div class="">
				<table class="" cellspacing="0" cellpadding="5px" width="100%">
					<thead>
						<tr>
							<th width="33%" align="left">Item</th>
							<th width="14%" align="left">Part #</th>
							<th width="7%" align="left">Qty</th>
							<th width="14%" class="align-right">Unit Price</th>
							<th width="9%">&nbsp;</th>
							<th width="14%" class="align-right">Total</th>
							<th width="9%" align="left">&nbsp;</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="">
				<% @document.items.each do |item| %>
					<div <% if item.is_group_heading? %>class="document_item_group_heading"<% end %>>
						<table width="100%" cellspacing="0" cellpadding="5px" class="">
							<tbody>
								<tr>
									<td width="33%">
										<%= item.name %>
									</td>
									<td width="14%">
										<%= item.part_number %>
									</td>
									<td width="7%">
										<%= item.quantity %>
									</td>
									<td width="14%" class="align-right">
										<%= item.unit_price %>
									</td>
									<td width="9%">
										<%= item.unit_price_unit %>
									</td>
									<td width="14%" class="align-right">
										<%= item.total %>
									</td>
									<td width="9%">
										<%= item.total_unit %>
									</td>
								</tr>
								<% if item.catalog_item.is_package? and not item.hide_package_contents? %>
									<tr>
										<td colspan="7">
											<% item.catalog_item.catalog_item_children.each do |child| %>
												<div>
													<table width="100%" cellspacing="0" cellpadding="5px" class="">
														<tbody>
															<tr>
																<td width="33%">
																	<%= child.child_item.name %>
																</td>
																<td width="14%">
																	<%= child.child_item.part_number %>
																</td>
																<td width="7%">
																	<%= child.quantity %>
																</td>
																<td width="14%" class="align-right">
																	
																</td>
																<td width="9%">
																	
																</td>
																<td width="14%" class="align-right">
																	
																</td>
																<td width="9%">
																	
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											<% end %>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				<% end %>
			</div>
			<div class="document-items-totals">
				<table class="" cellspacing="0" cellpadding="0" width="100%">
					<tbody>
						<tr class="">
							<td rowspan="8" width="64%">&nbsp;</td>
							<td width="8%">&nbsp;</td>
							<td width="12%"></td>
							<td width="16%">&nbsp;</td>
						</tr>
						<tr class="document_total_purchase" style="display: none;">
							<td width="8%" class="document_total_purchase_plus">&nbsp;</td>
							<td width="12%" class="document_total_purchase_holder align-right"></td>
							<td width="16%">&nbsp;</td>
						</tr>
						<tr class="document_total_hourly" style="display: none;">
							<td width="8%" class="document_total_hourly_plus align-right"><i class="icon-plus" style="display: none;" /></td>
							<td width="12%" class="document_total_hourly_holder align-right"></td>
							<td width="16%">per hour</td>
						</tr>
						<tr class="document_total_daily" style="display: none;">
							<td width="8%" class="document_total_daily_plus align-right"><i class="icon-plus" style="display: none;" /></td>
							<td width="12%" class="document_total_daily_holder align-right"></td>
							<td width="16%">per day</td>
						</tr>
						<tr class="document_total_weekly" style="display: none;">
							<td width="8%" class="document_total_weekly_plus align-right"><i class="icon-plus" style="display: none;" /></td>
							<td width="12%" class="document_total_weekly_holder align-right"></td>
							<td width="16%">per week</td>
						</tr>
						<tr class="document_total_monthly" style="display: none;">
							<td width="8%" class="document_total_monthly_plus align-right"><i class="icon-plus" style="display: none;" /></td>
							<td width="12%" class="document_total_monthly_holder align-right"></td>
							<td width="16%">per month</td>
						</tr>
						<tr class="document_total_quarterly" style="display: none;">
							<td width="8%" class="document_total_quarterly_plus align-right"><i class="icon-plus" style="display: none;" /></td>
							<td width="12%" class="document_total_quarterly_holder align-right"></td>
							<td width="16%">per quarter</td>
						</tr>
						<tr class="document_total_yearly" style="display: none;">
							<td width="8%" class="document_total_yearly_plus align-right"><i class="icon-plus" style="display: none;" /></td>
							<td width="12%" class="document_total_yearly_holder align-right"></td>
							<td width="16%">per year</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div>
		<hr size="0">
	</div>
	<div class="row">
		<div class="span12">
			<div class="section-heading">
				<h4>Notes</h4>
			</div>
			<div class="section-content">
				<%= @document.notes_customer%>
			</div>
		</div>
	</div>
</div>
<script language="javascript">
	$(function(){
		// window.vent = _.extend({}, Backbone.Events);
		// 		
		// 		if(gon.document){
		// 			this.document = new Quota.Models.Document($.parseJSON(gon.document));
		// 		}
		// 		else{
		// 			this.document = new Quota.Models.document();
		// 			this.document.fetch();
		// 		}
		// 	
		// 		if(gon.document_items){
		// 			this.document_items = new Quota.Collections.DocumentItems($.parseJSON(gon.document_items));
		// 		}
		// 		else{
		// 			this.document_items = new Quota.Collections.DocumentItems();
		// 			this.document_items.fetch();
		// 		}
		// 	
		// 		this.document.set("document_items", this.document_items);
		// 	
		// 		var page_body_view = new Quota.Views.ShowDocument({model: this.document, document_items: this.document_items, vent: vent});
		// 		page_body_view.setup();
		
	});	
	
	// $('input, textarea').placeholder();
</script>