<div class="row-fluid">
<div class="span6">
<div class="control-group string required">
	<label for="opportunity_name" class="string required control-label">Opportunity Name</label>
	<div class="controls">
		<input type="text" value="<%= @opportunity.name %>" size="30" name="opportunity[name]" id="opportunity_name" class="string required">
	</div>
</div>
<div class="control-group">
	<label for="company_name" class="string control-label">Customer</label>
	<div class="controls company_name">
		<input type="text" value="" name="customer[company_name]" id="opportunity_company_name" class="string input-xlarge">
	</div>
</div>
<div class="control-group">
	<label for="opportunity_estimated_close" class="string control-label">Estimated Value</label>
	<div class="controls opportunity_estimated_close">
		<div class="input-prepend">
			<span class="add-on">$</span>
			<input type="text" value="<%= @opportunity.estimated_value %>" name="opportunity[estimated_value]" id="opportunity_estimated_value" class="string">
			<select class="" name="opportunity[estimated_value_interval]" value="<%= @opportunity.estimated_value_interval %>">
				<option value="FIXED">fixed</option>
				<option value="HOUR">per hour</option>
				<option value="DAY">per day</option>
				<option value="WEEK">per week</option>
				<option value="MONTH">per month</option>
				<option value="QUARTER">per quarter</option>
				<option value="YEAR">per year</option>
			</select>
		</div>
	</div>
</div>
<div class="control-group">
	<label for="opportunity_estimated_close" class="string control-label">Estimated Close Date</label>
	<div class="controls opportunity_estimated_close">
		<div class="input-append">
			<input type="text" value="<%= @opportunity.estimated_close %>" name="opportunity_estimated_close" id="opportunity_estimated_close_dp" class="string input-medium datepicker">
			<span class="add-on"><i class="icon-calendar"></i></span>
			<input type="hidden" value="<%= @opportunity.estimated_close %>" name="opportunity[estimated_close]" id="opportunity_estimated_close" class="string input-small altfield">
		</div>
	</div>
</div>
<div class="control-group string">
	<label for="opportunity_description" class="string control-label">Opportunity Description</label>
	<div class="controls">
		<textarea name="opportunity[description]" id="opportunity_description" class="string"><%= @opportunity.description %></textarea>
	</div>
</div>
</div>
<div class="span1"></div>
<div class="span5">
<div class="control-group">
	<label for="opportunity_owner_key" class="string required control-label">Owner</label>
	<div class="controls opportunity_owner_key" id="users"></div>
</div>
<div class="control-group">
	<label for="opportunity_milestone_key" class="string control-label">Milestone</label>
	<div class="controls opportunity_milestone_key" id="milestones"></div>
</div>
<div class="control-group">
	<label for="opportunity_probability" class="string control-label">Probability of Close</label>
	<div class="controls opportunity_probability">
		<div class="input-append">
			<input type="text" value="<%= @opportunity.probability %>" name="opportunity[probability]" id="opportunity_probability" class="string input-min">
			<span class="add-on">%</span>
		</div>
	</div>
</div>
<div class="control-group">
	<div class="span4">
		<label>&nbsp;</label>
		<div class="controls opportunity_is_sold">
			<%= check_box_tag 'opportunity[is_sold]', true, @opportunity.is_sold %>
			&nbsp;is sold?
		</div>
	</div>
	<div class="span8">
		<label for="opportunity_actual_close" class="string control-label">Actual Close Date</label>
		<div class="controls opportunity_actual_close">
			<div class="input-append">
				<input type="text" value="<%= @opportunity.actual_close %>" name="opportunity_actual_close" id="opportunity_actual_close_dp" class="string input-medium datepicker">
				<span class="add-on"><i class="icon-calendar"></i></span>
				<input type="hidden" value="<%= @opportunity.actual_close %>" name="opportunity[actual_close]" id="opportunity_actual_close" class="string input-small altfield">
			</div>
		</div>
	</div>
</div>
<div class="control-group">
	<div class="span4">
	<label>&nbsp;</label>
	<div class="controls opportunity_is_cancelled">
		<%= check_box_tag 'opportunity[is_cancelled]', true, @opportunity.is_cancelled %>
		&nbsp;is cancelled?
	</div>
	</div>
	<div class="span8">
	<label for="opportunity_actual_cancel" class="string control-label">Cancellation Date</label>
	<div class="controls opportunity_actual_cancel">
		<div class="input-append">
			<input type="text" value="<%= @opportunity.actual_cancel %>" name="opportunity_actual_cancel" id="opportunity_actual_cancel_dp" class="string input-medium datepicker">
			<span class="add-on"><i class="icon-calendar"></i></span>
			<input type="hidden" value="<%= @opportunity.actual_cancel %>" name="opportunity[actual_cancel]" id="opportunity_actual_cancel" class="string input-small altfield">
		</div>
	</div>
	</div>
</div>
<input type="hidden" value="<%= @opportunity.company_key %>" name="opportunity[company_key]" id="opportunity_company_key" class="company_key">
</div>
</div>