<% provide(:title, "Update Opportunity") %>
<div class="body">
	<div class="body-right pull-right">
		<%= link_to raw("<i class=""icon-save""></i>&nbsp;&nbsp;Save changes"), opportunity_path(@opportunity.pub_key), :class => 'btn btn-primary' %>
	</div>
	<div class="body-left">
		<div class="">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> fade in">
			      <a class="close" data-dismiss="alert" href="#">&times;</a>
			      <%= value %>
			    </div>
			<% end %>
		</div>
		<div class="page-title-container">
			<div class="return-nav pull-left">
				<%= link_to raw("<i class=""icon-circle-arrow-left""></i>return to opportunity"), opportunity_path(@opportunity.pub_key) %>
			</div>
			<div class="page-title">
				<%= @opportunity.name %>
			</div>
		</div>
		<div class="parent-page">
			<div class="">
					<%= simple_form_for(@opportunity, :url => opportunity_path(@opportunity.pub_key)) do |f| %>
					<div class="">
						<% if f.error_notification %>
						    <div class="alert alert-error fade in">
						      <a class="close" data-dismiss="alert" href="#">&times;</a>
						      <%= f.error_notification %>
						    </div>
						<% end %>
					</div>
					<div id="opportunity">
					</div>
					<%= f.button :submit, "Update Opportunity", class: "btn btn-large btn-primary" %>	
				<% end %>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
	$(function(){
		// this.milestones = new Quota.Collections.Milestones(gon.milestones);
		this.companies = new Quota.Collections.Companies(gon.companies);
		this.milestones = new Quota.Collections.Milestones(gon.milestones);
		this.users = new Quota.Collections.Users(gon.users);
	
		if(gon.opportunity){
			this.opportunity = new Quota.Models.Opportunity(gon.opportunity);
		}
		else{
			this.opportunity = new Quota.Models.Opportunity();
			this.opportunity.fetch();
		}
		
		window.vent = _.extend({}, Backbone.Events);
	
		var view_opportunity = new Quota.Views.EditOpportunity({model:this.opportunity, milestones: this.milestones, companies: this.companies, users: this.users, vent: vent});
		$('#opportunity').html(view_opportunity.render().el);
	});	
	
	$.fn.placeholder();
</script>