<% provide(:title, "Opportunities") %>

<h1>All Opportunities</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @opportunities.each do |opp| %>
      <tr>
        <td><%= link_to opp.name, opportunity_path(opp.pub_key) %></td>
        <td>
          <%= link_to 'Edit', edit_opportunity_path(opp.pub_key), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', opportunity_path(opp.pub_key), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add opportunity', new_opportunity_path, :class => 'btn btn-primary' %>

<h1>Opportunities I Created</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @my_created_opportunities.each do |opp| %>
      <tr>
        <td><%= link_to opp.name, opportunity_path(opp.pub_key) %></td>
        <td>
          <%= link_to 'Edit', edit_opportunity_path(opp.pub_key), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', opportunity_path(opp.pub_key), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add opportunity', new_opportunity_path, :class => 'btn btn-primary' %>

<h1>Opportunities I Own</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @my_owned_opportunities.each do |opp| %>
      <tr>
        <td><%= link_to opp.name, opportunity_path(opp.pub_key) %></td>
        <td>
          <%= link_to 'Edit', edit_opportunity_path(opp.pub_key), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', opportunity_path(opp.pub_key), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add opportunity', new_opportunity_path, :class => 'btn btn-primary' %>