<% provide(:title, "Add Opportunity") %>
<div class="span10">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %> fade in">
	      <a class="close" data-dismiss="alert" href="#">&times;</a>
	      <%= value %>
	    </div>
	<% end %>
	<h1>Add Opportunity</h1>
		
	<%= simple_form_for(@opportunity) do |f| %>
		<%= render 'fields', f: f %>
		<%= f.button :submit, "Add opportunity", class: "btn btn-large btn-primary" %>
	<% end %>
	
</div>