<% provide(:title, "Add Opportunity") %>
<% provide(:css, raw("<link href='/assets/pages/opportunity.css' rel='stylesheet' type='text/css'>")) %>
<div class="body">
	<div class="body-right pull-right">
		<div class="action-buttons-container">
			
		</div>
		<div id="sidebar_app_fields_container"class="">
		</div>
	</div>
	<div class="body-left">
		<div class="">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> fade in">
			      <a class="close" data-dismiss="alert" href="#">&times;</a>
			      <%= value %>
			    </div>
			<% end %>
		</div>
		<div class="page-title-container">
			<div class="return-nav pull-left">
				<%= link_to raw("<i class=""icon-circle-arrow-left""></i>return to opportunities"), opportunities_path %>
			</div>
			<div class="page-title">
				Create a New Opportunity
			</div>
		</div>
		<div class="process-steps-container">
			<dl class="process-steps">
				<dt class="current">1</dt>
				<dd class="current">Fill-in opportunity details</dd>
				<dt class="">2</dt>
				<dd>Add opportunity components</dd>
			</dl>
		</div>
		<div class="parent-page">
			<div class="">
				<%= simple_form_for(@opportunity) do |f| %>
					<div class="row-fluid">
						<% if f.error_notification %>
						    <div class="alert alert-error fade in">
						      <a class="close" data-dismiss="alert" href="#">&times;</a>
						      <%= f.error_notification %>
						    </div>
						<% end %>
					</div>
					<div id="opportunity">
					</div>
					<div class="actions-bar">
						<button type="submit" class="btn btn-primary">
						  <i class="icon-save"></i>&nbsp;&nbsp;Create this Opportunity
						</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
	$(function(){
		// this.milestones = new Quota.Collections.Milestones(gon.milestones);
		this.companies = new Quota.Collections.Companies(gon.companies);
		this.milestones = new Quota.Collections.Milestones(gon.milestones);
		this.users = new Quota.Collections.Users(gon.users);
		
		console.log(gon.companies);
		console.log(gon.milestones);
		
		if(gon.opportunity){
			this.opportunity = new Quota.Models.Opportunity(gon.opportunity);
		}
		else{
			this.opportunity = new Quota.Models.Opportunity();
			this.opportunity.fetch();
		}
		
		window.vent = _.extend({}, Backbone.Events);
	
		var view_opportunity = new Quota.Views.EditOpportunity({model:this.opportunity, milestones: this.milestones, companies: this.companies, users: this.users, vent: vent});
		$('#opportunity').html(view_opportunity.render().el);
	});	
	
	$.fn.placeholder();
</script>