<% provide(:title, "Opportunity - #{@opportunity.name}") %>
<% @nav_caret = "opportunities" %>

<div>
	<div class="">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %> fade in">
		      <a class="close" data-dismiss="alert" href="#">&times;</a>
		      <%= value %>
		    </div>
		<% end %>
	</div>
	<div class="parent-page">
		<div class="page-title-container">
			<div class="return-nav">
				<%= link_to raw("return to opportunities"), opportunities_path %>
			</div>
			<div class="page-title">
				<%= @opportunity.name %>
			</div>
		</div>
		<div class="page-content-container">
			<div id="contacts_container">
				<div class="section-heading">
					<h4>Contacts</h4>
				</div>
				<div class="section-content">
					<div class="section-table">
						<table class="table table-condensed table-plain">
							<thead>
								<tr>
									<th  width="22%">Name</th>
									<th  width="25%">Company</th>
									<th  width="25%">Phone</th>
									<th  width="25%">Email</th>
									<th  width="3%">&nbsp;</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div class="section-form" style="display:none;">
					</div>
					<div id="opportunity-contacts-actions" class="section-actions actions-bar-left">
						<button type="submit" class="btn btn-primary form-submit">
							<i class="icon-plus"></i>&nbsp;&nbsp;Add a Contact
						</button>
						<a class="btn btn-danger form-cancel" href="#" style="display:none;">
							<i class="icon-remove"></i>&nbsp;&nbsp;-&nbsp;&nbsp;I'm done adding contacts
						</a>
					</div>
				</div>
			</div>
			<div id="documents_container">
				<div class="section-heading">
					<h4>Documents</h4>
				</div>
				<div class="section-content">
					<div class="section-table">
						<table class="table table-condensed table-plain">
							<thead>
								<tr>
									<th  width="3%">Primary</th>
									<th  width="10%">Type</th>
									<th  width="60%">Name</th>
									<th  width="24%">Created</th>
									<th  width="3%">&nbsp;</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div id="opportunity-documents-actions" class="section-actions actions-bar-left">
						<a href="/documents/new/<%= @opportunity.pub_key %>" class="btn btn-primary form-submit">
							<i class="icon-plus"></i>&nbsp;&nbsp;Add a Document
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<%= content_for :right do %>
<div class="action-buttons-container">
	<%= link_to raw("<i class=""icon-edit""></i>&nbsp;&nbsp;Change opportunity details"), edit_opportunity_path(@opportunity.pub_key), :class => 'btn btn-primary' %>
</div>
<div id="sidebar_app_fields_container"class="">
	<div class="show-field">
		<span class="show-label">Current Milestone</span>
		<br>
		<span class="show-value"><%= @opportunity.milestone ? @opportunity.milestone.name : nil %></span>
	</div>
	<div class="show-field">
		<span class="show-label">Customer</span>
		<br>
		<span class="show-value"><%= @opportunity.company ? @opportunity.company.name : nil %></span>
	</div>
	<div class="show-field">
		<span class="show-label">Owner</span>
		<br>
		<span class="show-value"><%= @opportunity.owner ? @opportunity.owner.name : nil %></span>
	</div>
	<div class="show-field">
		<span class="show-label">Estimated Value</span>
		<br>
		<span class="show-value">$<%= @opportunity.estimated_value %></span>
	</div>
	<div class="show-field">
		<span class="show-label">Estimated Close Date</span>
		<br>
		<span class="show-value"><%= @opportunity.estimated_close %></span>
	</div>
	<div class="show-field">
		<span class="show-label">Actual Close Date</span>
		<br>
		<span class="show-value"><%= @opportunity.actual_close %></span>
	</div>
	<div class="show-field">
		<span class="show-label">Description</span>
		<br>
		<span class="show-value"><%= @opportunity.description %></span>
	</div>
</div>
<div id="sidebar_body_container" class="">
</div>
<% end %>



<% content_for :page_script do %>

<script language="javascript">
	$(function(){
		window.vent = _.extend({}, Backbone.Events);
		
		if(gon.opportunity){
			this.opportunity = new Quota.Models.Opportunity($.parseJSON(gon.opportunity));
		}
		else{
			this.opportunity = new Quota.Models.Opportunity();
			this.opportunity.fetch();
		}
		
		if(gon.opportunity_contacts){
			this.opportunity_contacts = new Quota.Collections.OpportunityContacts($.parseJSON(gon.opportunity_contacts));
		}
		else{
			this.opportunity_contacts = new Quota.Collections.OpportunityContacts();
			this.opportunity_contacts.fetch();
		}
		
		if(gon.opportunity_documents){
			this.opportunity_documents = new Quota.Collections.Documents(gon.opportunity_documents);
		}
		else{
			this.opportunity_documents = new Quota.Collections.Documents();
			this.opportunity_documents.fetch();
		}
		
		if(gon.companies){
			this.companies = new Quota.Collections.Companies(gon.companies);
		}
		else{
			this.companies = new Quota.Collections.Companies();
			this.companies.fetch();
		}
		
		this.opportunity.set("opportunity_contacts", this.opportunity_contacts);
		this.opportunity.set("documents", this.opportunity_documents);
		
		
		// console.log($.parseJSON(gon.opportunity).milestone);
	
		var page_body_view = new Quota.Views.ShowOpportunity({model: this.opportunity, vent: vent, companies: this.companies});
		page_body_view.setup();
		// $('#main_body_container').html(page_body_view.render().el);
		
		var sidebar_body_view = new Quota.Views.ShowOpportunitySidebar({model: this.opportunity, vent: vent});
		$('#sidebar_body_container').html(sidebar_body_view.render().el);
	});	
	
	$('input, textarea').placeholder();
</script>

<% end %>