<div class="control-group string required">
	<label for="opportunity_name" class="string required control-label">Name</label>
	<div class="controls">
		<input type="text" value="{{opportunity.name}}" size="30" name="opportunity[name]" id="opportunity_name" class="string required span7">
	</div>
</div>
<div class="control-group">
	<label for="company_name" class="string control-label">Customer</label>
	<div class="controls company_name">
		<input type="text" value="" name="customer[company_name]" id="opportunity_company_name" class="string input-xlarge">
	</div>
</div>
<div class="control-group">
	<label for="opportunity_milestone_key" class="string control-label">Milestone</label>
	<div class="controls opportunity_milestone_key" id="milestones"></div>
</div>
<div class="control-group">
	<label for="opportunity_probability" class="string control-label">Probability of Close</label>
	<div class="controls opportunity_probability">
		<div class="input-append">
			<input type="text" value="{{opportunity.probability}}" name="opportunity[probability]" id="opportunity_probability" class="string input-min">
			<span class="add-on">%</span>
		</div>
	</div>
</div>
<div class="control-group">
	<label for="opportunity_estimated_close" class="string control-label">Est. Value</label>
	<div class="controls opportunity_estimated_close">
		<div class="input-prepend">
			<span class="add-on">$</span>
			<input type="text" value="{{opportunity.estimated_value}}" name="opportunity[estimated_value]" id="opportunity_estimated_value" class="string input-small">
			<select class="input-medium" name="opportunity[estimated_value_interval]">
				<option value="FIXED">fixed</option>
				<option value="HOUR">per hour</option>
				<option value="DAY">per day</option>
				<option value="WEEK">per week</option>
				<option value="MONTH">per month</option>
				<option value="QUARTER">per quarter</option>
				<option value="YEAR">per year</option>
			</select>
		</div>
	</div>
</div>
<div class="control-group">
	<label for="opportunity_estimated_close" class="string control-label">Est. Close Date</label>
	<div class="controls opportunity_estimated_close">
		<div class="input-append">
			<input type="text" value="{{opportunity.estimated_close}}" name="opportunity_estimated_close" id="opportunity_estimated_close_dp" class="string input-small datepicker">
			<span class="add-on"><i class="icon-calendar"></i></span>
			<input type="hidden" value="{{opportunity.estimated_close}}" name="opportunity[estimated_close]" id="opportunity_estimated_close" class="string input-small altfield">
		</div>
	</div>
</div>
<div class="control-group">
	<label for="opportunity_actual_close" class="string control-label">Actual Close Date</label>
	<div class="controls opportunity_actual_close">
		<div class="input-append">
			<input type="text" value="{{opportunity.actual_close}}" name="opportunity_actual_close" id="opportunity_actual_close_dp" class="string input-small datepicker">
			<span class="add-on"><i class="icon-calendar"></i></span>
			<input type="hidden" value="{{opportunity.actual_close}}" name="opportunity[actual_close]" id="opportunity_actual_close" class="string input-small altfield">
		</div>
	</div>
</div>
<div class="control-group">
	<label for="opportunity_owner_key" class="string required control-label">Owner</label>
	<div class="controls opportunity_owner_key" id="sales_reps"></div>
</div>
<input type="hidden" value="{{opportunity.company_key}}" name="opportunity[company_key]" id="opportunity_company_key" class="company_key">
