<td>
	<span class="label">{{opportunity.milestone.name}}</span>
</td>
<td>
	<span>{{dateFormat opportunity.created_at format="MMM Do"}}</span>
</td>
<td>
	<span class="opportunity_link"><b><a href="/opportunities/{{opportunity.pub_key}}">{{opportunity.name}}</a></b></span>
	<br>
	<span class="opportunity_link"><a href="/opportunities/{{opportunity.pub_key}}">{{opportunity.company.name}}</a></span>
</td>
<td>
	<span class="opportunity_link"><a href="/opportunities/{{opportunity.pub_key}}">latest activity</a></span>
	<br>
	<span class="opportunity_link"><a href="/opportunities/{{opportunity.pub_key}}">{{opportunity.owner.name}}</a></span>
</td>
<td>
	<i class="icon-button icon-remove"></i>
</td>