<div>
<span class="label">{{opportunity.milestone.name}}</span>
<span class="opportunity_link">{{opportunity.name}}</span>
<span class="">{{opportunity.company.name}}</span>
<span class="">{{opportunity.owner.name}}</span>
<span class="">{{opportunity.estimated_close}}</span>
<span class="">{{opportunity.estimated_value}}</span>
</div>