<td>
	{{opportunity_contact.contact.name}}
</td>
<td>
	{{opportunity_contact_company.name}}
</td>
<td>{{#each opportunity_contact.contact.phones}}
  <div>{{name}}: {{val}}</div>
  {{/each}}</td>
<td>{{#each opportunity_contact.contact.emails}}
  <div>{{name}}: {{val}}</div>
  {{/each}}</td>
<td><button class="btn btn-danger contact_remove">
  <i class="icon-remove"></i>
</button>
</td>