<td>
	<a href="/contacts/{{opportunity_contact.contact.pub_key}}">{{opportunity_contact.contact.name}}</a>
</td>
<td>
	<a href="/contacts/{{opportunity_contact.contact.pub_key}}">{{opportunity_contact_company.name}}</a>
</td>
<td>{{#each opportunity_contact.contact.phones}}
  <div>{{name}}: {{val}}</div>
  {{/each}}</td>
<td>{{#each opportunity_contact.contact.emails}}
  <div>{{name}}: {{val}}</div>
  {{/each}}</td>
<td>
  <i class="icon-remove"></i>
</td>