<td width="1%"></td>
<td width="30%">{{item.name}}</td>
<td width="12%">{{item.manufacturer}}</td>
<td width="37%">{{item.description}}</td>
<td width="10%">{{item.pn}}</td>
<td width="10%" class="align-right">$ {{item.list_price}}</td>