<div class="header">
	<div>
		<div class="logo-search-bar">
			<div class="logo">
				<%= link_to raw("Q<u>uota</u>"), dashboard_path, id: "logo", :class => "brand" %>
			</div>
			<div class="header-search pull-right">
				<div class="input-append">
					<input type="text" class="" name="" value="">
					<span class="add-on">
						<i class="icon-search"></i>&nbsp;
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar">
		<ul class="nav primary-nav">
			<% if @nav_caret == "opportunities" %>
				<li class="current"><%= link_to raw("Opportunities"), opportunities_path %></li>
			<% else %>
				<li><%= link_to raw("Opportunities"), opportunities_path %></li>
			<% end %>
			<% if @nav_caret == "templates" %>
				<li class="current"><%= link_to raw("Templates"), templates_path %></li>
			<% else %>
				<li><%= link_to raw("Templates"), templates_path %></li>
			<% end %>
			<% if @nav_caret == "contacts" %>
				<li class="current"><%= link_to raw("Contacts"), contacts_path %></li>
			<% else %>
				<li><%= link_to raw("Contacts"), contacts_path %></li>
			<% end %>
			<% if @nav_caret == "catalog" %>
				<li class="current"><%= link_to raw("Catalog"), catalog_path %></li>
			<% else %>
				<li><%= link_to raw("Catalog"), catalog_path %></li>
			<% end %>
		</ul>
	</div>
</div>