<header class="navbar">
	<div class="header row">
		<div class="header-right pull-right">
			<div class="">
				<ul class="nav user-nav">
					<% if signed_in? %>
						<li id="member-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<%= current_user.name || current_user.email %> <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "Profile", current_user %></li>
								<li><%= link_to "Settings", '#' %></li>
								<li class="divider"></li>
								<li>
									<%= link_to "Sign out", signout_path, method: "delete" %>
								</li>
							</ul>
						</li>
					<% else %>
						<li><%= link_to "Sign in", signin_path %></li>
					<% end %>
				</ul>
			</div>
			<div class="">
				<ul class="nav alternate-nav">
					<% if @nav_caret == "help" %>
						<li class="current"><%= link_to raw("Help"), "#" %></li>
					<% else %>
						<li><%= link_to raw("Help"), "#" %></li>
					<% end %>
					<% if @nav_caret == "administration" %>
						<li id="admin-menu" class="dropdown current">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Administration <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "Users", users_path %></li>
								<li><%= link_to "Reps", sales_reps_path %></li>
							</ul>
						</li>
					<% else %>
						<li id="admin-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Administration <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "Users", users_path %></li>
								<li><%= link_to "Reps", sales_reps_path %></li>
							</ul>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="header-left">
			<div class="">
				<%= link_to raw("Q<u>uota</u>"), dashboard_path, id: "logo", :class => "brand" %>

			</div>
			<div class="">
				<ul class="nav primary-nav">
					<% if @nav_caret == "opportunities" %>
						<li class="current"><%= link_to raw("Opportunities"), opportunities_path %></li>
					<% else %>
						<li><%= link_to raw("Opportunities"), opportunities_path %></li>
					<% end %>
					<% if @nav_caret == "templates" %>
						<li class="current"><%= link_to raw("Templates"), templates_path %></li>
					<% else %>
						<li><%= link_to raw("Templates"), templates_path %></li>
					<% end %>
					<% if @nav_caret == "contacts" %>
						<li class="current"><%= link_to raw("Contacts"), contacts_path %></li>
					<% else %>
						<li><%= link_to raw("Contacts"), contacts_path %></li>
					<% end %>
					<% if @nav_caret == "catalog" %>
						<li class="current"><%= link_to raw("Catalog"), catalog_path %></li>
					<% else %>
						<li><%= link_to raw("Catalog"), catalog_path %></li>
					<% end %>
				</ul>
				<div class="primary-nav-caret"></div>
			</div>
		</div>
	</div>
</header>