<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
		<%= include_gon %>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= yield(:css) %>
		<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Sans:400,700' rel='stylesheet' type='text/css'><%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
		
		<script language="javascript">
			$(window).unload(function(){
			    $(document.activeElement).blur();
			});
		</script>
	</body>
</html>