<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
		<%= include_gon %>
		<%= stylesheet_link_tag "application", :media => "all", debug: false %>
		<%= yield(:css) %>
		<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		<%= javascript_include_tag "application", debug: false %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<div class="body">
			<div class="right-col pull-right">
				<%= render 'layouts/header_right' %>
				<%= yield(:right) %>
			</div>
			<div class="left-col">
				<%= render 'layouts/header_left' %>
				<%= yield %>
			</div>
		</div>
		<div>
			<%= render 'layouts/footer' %>
		</div>
		<script language="javascript">
			$(window).unload(function(){
			    $(document.activeElement).blur();
			});
			
			$(function(){
				$('.dropdown-toggle').dropdown();
				
				$('.header-search i').click(function() {$('form[name="search"]').submit();});
			});
		</script>
		<%= yield(:page_script) %>
	</body>
</html>