<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
		<%= wicked_pdf_stylesheet_link_tag "application" %>
		
		<%= yield(:css) %>
		<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Sans:400,700' rel='stylesheet' type='text/css'><%= javascript_include_tag "application" %>
		<%= yield(:head) %>
		<%= render 'layouts/shim.html' %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>