<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<div class="body">
			<div class="right-col pull-right">
				<%= render 'layouts/public-header_right' %>
				<%= yield(:right) %>
			</div>
			<div class="left-col">
				<%= render 'layouts/public-header_left' %>
				<%= yield %>
			</div>
		</div>
		<div>
			<%= render 'layouts/footer' %>
		</div>
		<script language="javascript">
			$(window).unload(function(){
			    $(document.activeElement).blur();
			});
		</script>
		<%= yield(:page_script) %>
	</body>
</html>