<% provide(:title, 'Sign up') %>
<div class="span10">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %> fade in">
	      <a class="close" data-dismiss="alert" href="#">&times;</a>
	      <%= value %>
	    </div>
	<% end %>
	<h1>Sign up</h1>

	
	<%= simple_form_for(@account) do |f| %>
		<% if f.error_notification %>
		    <div class="alert alert-error fade in">
		      <a class="close" data-dismiss="alert" href="#">&times;</a>
		      <%= f.error_notification %>
		    </div>
		<% end %>
		<%= f.simple_fields_for :users do |user| %>

				<%= user.input :email, :label => "Email address" %>
				<%= user.input :password, :label => "Password" %>
	
		<% end %>

		<%= f.input :name, :label => "Company" %>
		<%= f.input :subdomain, :label => "Site address" %>

		<div class="form-actions">
		    <%= f.button :submit, "Create account", class: "btn btn-primary" %>
			<%= link_to 'Cancel', root_path, :class => 'btn' %>
		</div>
	<% end %>
		
</div>