<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@account) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.fields_for :users do |user| %>
			
				
					<%= user.label :email, "Email address" %>
					<%= user.text_field :email %>

					<%= user.label :password %>
					<%= user.password_field :password %>
				
			<% end %>

			<%= f.label :name, "Company" %>
			<%= f.text_field :name %>
			
			<%= f.label :subdomain, "Site address" %>
			<%= f.text_field :subdomain %>
			
			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>